<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
      <div th:replace="~{/cart/view :: shopping_cart}">

      </div>
        <div class="row">
            <div class="form-group col-sm-6">
              <label>Purchaser: [[${#request.remoteUser}]]</label>
            </div>
            <div class="form-group col-sm-6">
              <label for="">Order date</label>
              <div class="form-control">{{order.createDate | date:'dd-MM-yyyy'}}</div>
            </div>
            <div class="form-group">
              <label for="">Shipping address</label>
              <input type="text" name="" id="" class="form-control" placeholder="" ng-model="order.address" required>
            </div>
        </div>
        <div class="row">
        </div>
        <button ng-click="order.purchaser()" class="btn btn-primary">Purchaser</button>
    </main>
</body>

</html>