<div class="panel panel-default">
    <div class="panel-heading">PRODUCT LIST</div>
    <table class="table table-condesed">
        <thead class="bg-success" style="font-variant: small-caps;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Image</th>
                <th>Category</th>
                <th>Available?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price | number:2}}</td>
                <td>{{item.createDate | date :'dd-MM-yyyy'}}</td>
                <td>{{item.image}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.available?'Yes':'No'}}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit">Edit</button>
                        <button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <button ng-disabled="btn.first" ng-click="pager.first()" type="button" class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-up">First</b>
        </button>
        <button ng-disabled="btn.prev" ng-click="pager.prev()" type="button" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-left">Previous</b>
        </button>
        <button ng-click="" type="button" class="btn btn-success">
            {{page.pageIndex}} of {{page.pageTotal}}</button>
        <button ng-disabled="btn.next" ng-click="pager.next()" type="button" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-right">Next</b>
        </button>
        <button ng-disabled="btn.last" ng-click="pager.last()" type="button" class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-down">Last</b>
        </button>
    </div>
    
</div>